body{
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #FFFDEA;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(156, 214, 214);
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    height:auto;
    padding: 25px;
    box-shadow: 2px 5px 25px 15px rgba(0, 0, 0, 0.2);
    background:linear-gradient(to right, #4facfe, #00f2fe)

}

.amount{
    padding: 7px;
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
}
#currencyFrom{
    padding: 5px;
    width: 85%;
    border: 1px solid black;
    border-radius: 5px;
}
#currencyTo{
    padding: 5px;
    width: 85%;
    border: 1px solid black;
    border-radius: 5px;
}

#convert{
    padding: 10px;
    /* max-width: 310px; */
    width: 85%;
    border: 1px solid rgb(4, 233, 77);
    background-color: rgb(4, 233, 77);
    border-radius: 5px;
}
.result{
    padding: 15px;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    background-color: rgb(236, 101, 101);
    font-size: 28px;
    font-weight: 700;
}
.canvas-div{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} 
.placeholderimage{
    height: auto;
    width: 100%;
}


@media (max-width: 767px) {

    body {
        height: auto;
        /* padding: 15px; */
        /* justify-content: flex-start; */
    }

    .main-container {
        flex-direction: column;
    }

    .form {
        width: 100%;
    }
    .placeholderimage{
        width:100%;
    }
}